.info-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(0, 0, 228), rgb(0, 139, 182), rgb(2, 80, 197));
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 15vh;
    width: 100%;
}

.scheme-logo{
    display: grid;
    place-items: center;
}

.scheme-img{
    width: 225px;
    height: 225px;
    background-color: white;
    margin: 5px;
    margin-left: 15px;
    border-radius: 50%;
}

.scheme-topic{
    font-size: 50px;
    font-family:monospace;
    color:beige;
}

.info{
    display:grid;
    place-items: center;
    width: 55%;
}

.scheme-text{
    font-size: 20px;
    font-family: cursive;
    color:blanchedalmond;
}

.direct-link{
    color:bisque;
}

.direct-link:hover{
    color:coral;
}